:root {
    --primary-color: #0F2676;
    --secondary-color: #9AB6EA;
    --tertiary-color: #A8ABAF;
    --quaternary-color: #8998AD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* styles for header and nav */
header {
    padding: 30px 30px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

header h1 {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

header a {
    text-decoration: none;
}

header nav {
    float: right;
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 20px;
    font-weight: lighter;
    font-size: 20px;
}
/* end of header and nav styles */

/* begin style for footer */ 
footer {
    padding: 10px 10px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h3 {
    display: inline;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
/* end style for footer */

/* begin for hero style */
.about-me-bio {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border: solid var(--primary-color);
    background-color: var(--quaternary-color);
}

.about-me-bio h2 {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 20px;
    padding: 0 20px 10px 20px;
    border-right: 2px solid;
    border-color: var(--secondary-color);
}
.about-me-subdiv {
    display: flex;
}
.about-me-bio img {
   width: 75%;
   height: auto;
   margin: 20px;
   padding: 10px 10px;
}

.about-me-bio p {
    line-height: 1.5;
    color: var(--primary-color);
    font-size: 20px;
    margin: 20px;
    padding: 10px 10px;
}
/* end style for hero */

/*start style for projects */
.projects-info {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border: solid var(--primary-color);
    background-color: var(--quaternary-color);
}

.projects-info h2 {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 20px;
    padding: 0 20px 10px 20px;
    border-right: 2px solid;
    border-color: var(--secondary-color);
}

.refactor h3 {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 5 px;
    padding: 10px;  
}

.refactor img {
    width: 75%;
}

.small {
    padding: 15px;
}
.small h3 {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 5 px;
    padding: 10px;  
}
.small img {
    width: 100px;
    height: 100px;
}

/* end style for projects */

/* begin style for contact information section */

.contact-information {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border: solid var(--primary-color);
    background-color: var(--quaternary-color);
}
.contact-information h2 {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 20px;
    padding: 0 20px 10px 20px;
    border-right: 2px solid;
    border-color: var(--secondary-color);
}

.contact-information p {
    font-size: 20px;
}

/* end style for contact information section */